.option {
  background-color: #3c0e70;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: 0.4s;
  opacity: 0.8;
}

.option:hover {
  opacity: 1;
}

#options-container .option p {
  margin-bottom: 0;
}
