#rules #table {
  text-align: center;
  max-width: 500px;
  background-color: #8435de;
  border-radius: 1rem;
  padding: 2rem;
}

#rules h2 {
  margin-bottom: 2rem;
}

#rules p {
  margin-bottom: 1rem;
}

#rules button {
  border: 2px solid #fff;
  margin: 0.5rem;
}
